$inputColor:  #0074CC;
$errorColor : #d32f2f;
$textColor : #fff;
$backgroundColor: #005698;


.amount-input-field{
    
        div{
            .output-class{
                color: $backgroundColor;
                font-weight: 400;
                margin-top: 20px;
            }
            .convert-button{
                margin-top: 90px;
                align-items: center;
                background-color: $backgroundColor;
                color: $textColor;
                border-radius: 20px;

            }
            #my-helper-text{
                color:$errorColor;
                font-weight: 400;
                font-size: 0.75rem;
                font-style: italic;
            }
            & label.Mui-focused{
                color: rgba(0, 0, 0, 0.6);
            }
            div{
                input#standard-amount:after{
                    border-bottom: 2px solid $inputColor;
                }
                input#standard-amount{
                    color: $inputColor;
                    font-weight: bold;
                }
                
                
            }
        
            
            
        }
    
    
}


