@import 'bootstrap/dist/css/bootstrap.css';


body {
  margin: 0;
  font-family: monospace, monospace !important;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(243, 246, 249);
}

